.br-input textarea,
.br-input input[type="text"],
.br-input input[type="password"],
.br-input input[type="datetime"],
.br-input input[type="datetime-local"],
.br-input input[type="date"],
.br-input input[type="month"],
.br-input input[type="time"],
.br-input input[type="week"],
.br-input input[type="number"],
.br-input input[type="email"],
.br-input input[type="url"],
.br-input input[type="search"],
.br-input input[type="tel"],
.br-input input[type="color"],
.br-input input[type="file"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

br-input {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 18px 0 6px;
  vertical-align: middle;
}

.br-input {
  order: 2;
  display: block;
  margin-top: 0;
  background: 0 0;
  padding: 13px 6px 1px;
  border-width: 1px;
  line-height: 26px;
  height: 42px;
  -ms-flex-preferred-size: 26px;
  border-radius: 3px;
  border-style: solid;
  width: 100%;
  min-width: 140px;
  box-sizing: border-box;
  float: left;
  box-shadow: none;
  transition: border cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}

.br-input-standard {
  line-height: 42px;
  padding: 0 6px 0;
  width: initial;
}

br-input:not(.br-has-label) .br-input {
  padding: 3px 6px 1px;
}

br-input.br-fill {
  width: 100%;
}


br-input .br-errors-spacer {
  float: right;
  min-height: 24px;
  min-width: 1px;
}

br-input textarea {
  resize: none;
  overflow: hidden;
}

.br-input-standard + label,
br-input label {
  font-size: 14px;
  font-weight: 700;

  line-height: initial;
  position: absolute;
  left: 0;
  top: -43px;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 2px;
  z-index: 1;
  transform: translate3d(0, 24px, 0) scale(1);
  transform-origin: left top;
  transition: color cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}

.br-input-standard + label {
  position: absolute;
  top: initial;
  left: initial;
  transform: translate(0, -21px);
}

.br-input[disabled] {
  background-position: 0 bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
}

.br-input:focus {
  outline: none;
  box-shadow: none;
}



br-input ng-messages,
br-input data-ng-messages,
br-input x-ng-messages,
br-input [ng-messages],
br-input [data-ng-messages],
br-input [x-ng-messages] {
  position: relative;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  overflow: hidden;
  clear: left;
  height: 24px;
}

br-input ng-message,
br-input data-ng-message,
br-input x-ng-message,
br-input [ng-message],
br-input [data-ng-message],
br-input [x-ng-message] {
  padding-right: 5px;
  padding-left: 0;
  line-height: 14px;
  font-size: 12px;
  padding-top: 5px;
}

br-input ng-message.ng-enter,
br-input data-ng-message.ng-enter,
br-input x-ng-message.ng-enter,
br-input [ng-message].ng-enter,
br-input [data-ng-message].ng-enter,
br-input [x-ng-message].ng-enter {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.2s;
}

br-input ng-message.ng-leave,
br-input data-ng-message.ng-leave,
br-input x-ng-message.ng-leave,
br-input [ng-message].ng-leave,
br-input [data-ng-message].ng-leave,
br-input [x-ng-message].ng-leave {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

br-input ng-message.ng-enter,
br-input ng-message.ng-leave.ng-leave-active,
br-input data-ng-message.ng-enter,
br-input data-ng-message.ng-leave.ng-leave-active,
br-input x-ng-message.ng-enter,
br-input x-ng-message.ng-leave.ng-leave-active,
br-input [ng-message].ng-enter,
br-input [ng-message].ng-leave.ng-leave-active,
br-input [data-ng-message].ng-enter,
br-input [data-ng-message].ng-leave.ng-leave-active,
br-input [x-ng-message].ng-enter,
br-input [x-ng-message].ng-leave.ng-leave-active {
  opacity: 0;
  transform: translate3d(0, -20%, 0);
}

br-input ng-message.ng-leave,
br-input ng-message.ng-enter.ng-enter-active,
br-input data-ng-message.ng-leave,
br-input data-ng-message.ng-enter.ng-enter-active,
br-input x-ng-message.ng-leave,
br-input x-ng-message.ng-enter.ng-enter-active,
br-input [ng-message].ng-leave,
br-input [ng-message].ng-enter.ng-enter-active,
br-input [data-ng-message].ng-leave,
br-input [data-ng-message].ng-enter.ng-enter-active,
br-input [x-ng-message].ng-leave,
br-input [x-ng-message].ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* --- remove --- */

br-input.br-no-padding {
  padding:0;
}

br-input.br-no-spacing,
br-input.br-no-margin {
  margin: 0 0 6px;
}




/* --- BR-X ----- */

br-input .br-x {
  opacity: 0;

  position: absolute;
  top: -4px;
  right: 0;

  transform: translate3d(0, 18px, 0) scale(1);
  transition: none;

  line-height: initial;
  order: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  padding-right: 15px;
  z-index: 60;

  font-weight: bold;
  font-size: 17px;
}

br-input.br-input-has-value .br-x {
  opacity: 1;
  transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s,
              color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
              opacity cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
  transform-origin: left top;
}

br-input.br-input-has-value.br-input-focused .br-x {
  transform: translate3d(0, 14px, 0) scale(1);
}
br-input.br-input-has-value .br-x {
  transform: translate3d(0, 14.74px, 0) scale(1);
}

br-input.br-input-has-value.br-small.br-input-focused .br-x {
  transform: translate3d(0, 8px, 0) scale(1);
}
br-input.br-input-has-value.br-small .br-x {
  transform: translate3d(0, 8.75px, 0) scale(1);
}

br-input.br-input-has-value.br-small.br-no-padding.br-input-focused .br-x {
  transform: translate3d(0, 7px, 0) scale(1);
}
br-input.br-input-has-value.br-small.br-no-padding .br-x {
  transform: translate3d(0, 7.75px, 0) scale(1);
}

br-input.br-box.br-input-has-value.br-small.br-no-padding.br-input-focused .br-x {
  transform: translate3d(0, 5px, 0) scale(1);
}
br-input.br-box.br-input-has-value.br-small.br-no-padding .br-x {
  transform: translate3d(0, 5.75px, 0) scale(1);
}
