input.br-input-standard,
br-input.br-THEME_NAME-theme .br-input {
  color: '{{font-default}}';
  border-color: '{{foreground-dark-4}}';
}

input.br-input-standard ::placeholder,
br-input.br-THEME_NAME-theme ::placeholder {
  color: '{{font-light-5}}';
}

input.br-input-standard + label,
br-input.br-THEME_NAME-theme label,
br-input.br-THEME_NAME-theme .br-placeholder {
  color: '{{font-light-2}}';
}

/*br-input.br-THEME_NAME-theme label {
  color: '{{font-light-2}}';
}*/

input.br-input-standard.ng-not-empty + label,
br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-has-value label {
  color: '{{font-light-3}}';
}

input.br-input-standard:focus,
br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-focused .br-input:not([readonly]) {
  border-color: '{{primary-default}}';
}


input.br-input-standard:focus + label
br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-focused label {
  color: '{{primary-default}}';
}

br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-focused.br-accent .br-input {
  border-color: '{{accent-light-1}}';
}
br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-focused.br-accent label {
  color: '{{accent-default}}';
}

br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-focused.br-warn .br-input {
  border-color: '{{warn-light-1}}';
}
br-input.br-THEME_NAME-theme:not(.br-input-invalid).br-input-focused.br-warn label {
  color: '{{warn-default}}';
}

input.br-input-standard.ng-invalid.ng-touched,
br-input.br-THEME_NAME-theme.br-input-invalid .br-input {
  border-color: '{{warn-default}}';
}

input.br-input-standard.ng-invalid.ng-touched + label,
br-input.br-THEME_NAME-theme.br-input-invalid label {
  color: '{{warn-default}}';
}



br-input.br-THEME_NAME-theme ng-message,
br-input.br-THEME_NAME-theme data-ng-message,
br-input.br-THEME_NAME-theme x-ng-message,
br-input.br-THEME_NAME-theme [ng-message],
br-input.br-THEME_NAME-theme [data-ng-message],
br-input.br-THEME_NAME-theme [x-ng-message] {
  color: '{{font-light-2}}';
}

br-input.br-THEME_NAME-theme.br-input-invalid ng-message,
br-input.br-THEME_NAME-theme.br-input-invalid data-ng-message,
br-input.br-THEME_NAME-theme.br-input-invalid x-ng-message,
br-input.br-THEME_NAME-theme.br-input-invalid [ng-message],
br-input.br-THEME_NAME-theme.br-input-invalid [data-ng-message],
br-input.br-THEME_NAME-theme.br-input-invalid [x-ng-message] {
  color: '{{warn-default}}';
}

input[disabled].br-input-standard,
br-input.br-THEME_NAME-theme .br-input[disabled] {
  border-color: transparent;
  color: '{{foreground-light-2}}';
  background-image: linear-gradient(to right, '{{foreground-light-3}}' 0%, '{{foreground-light-3}}' 33%, transparent 0%);
}

input[readonly].br-input-standard,
br-input.br-THEME_NAME-theme .br-input[readonly] {
  color: '{{font-light-2}}';
  background-color: '{{foreground-light-3}}';
  border-color: '{{foreground-light-3}}';
}

input[readonly=readonly].br-input-standard,
br-input.br-THEME_NAME-theme .br-input[readonly=readonly] {
  color: '{{font-light-2}}';
  background-color: '{{foreground-light-3}}';
  border-color: '{{foreground-light-3}}';
}

br-input.br-THEME_NAME-theme .br-x {
  color: '{{font-light-2}}';
}

br-input.br-THEME_NAME-theme:not([disabled]):not(.br-touch) .br-x:hover {
  color: '{{font-default}}';
}
