<br-content br-scroll-y>

<br-input>
  <label>auto complete</label>
  <input ng-model="vm.autocomplete" />
  <br-autocomplete br-data="vm.correspondence" br-filter="vm.autocomplete" ng-model="vm.autoSelected" ng-change="vm.autoSelectChange()"></br-autocomplete>
</br-input>


<div style="padding-top: 300px;"></div>

<br-expansion-card-manager br-auto-expand br-component-id="cardmanager">

  <br-expansion-card>
    <br-collapsed-content>
      <div layout="column">
        <div class="expand-header">Venue</div>
        <div class="expand-title">{{vm.venue.name}}</div>
        <div layout="row">
          <div class="expand-sub">{{vm.venue.city}}, {{vm.venue.state}}</div>
          <div class="expand-active" ng-class="vm.venue.active ? '' : 'red-text'">{{vm.venue.active ? 'Active' : 'Inactive'}}</div>
        </div>
      </div>
    </br-collapsed-content>

    <br-expanded-content>

    <br-content br-auto-height>
      <br-subheader>
        <h5>Venue</h5>
      </br-subheader>

      <div ng-if="vm.loadingVenue === true" layout="row" layout-align="center center">
        <br-spinner class="br-primary"></br-spinner>
      </div>

      <div ng-if="vm.loadingVenue === false" class="br-expander-load">
        <h2>{{vm.venue.name}}</h2>
        <h3>Edit you fool!</h3>

        <div style="padding-top:24px;"></div>

        <div layout="column">
          <form name="venform">
            <div layout="row">
              <br-input style="width: 100%; max-width: 320px;">
                <label>Venue Name</label>
                <input name="name" ng-model="vm.venue.name" required/>
                <div ng-messages="venform.name.$error">
                  <div ng-message="requried">Required</div>
                </div>
              </br-input>

              <br-select>
                <label>Menu Items</label>
                <br-select-menu ng-model="vm.advancedSelected" ng-change="vm.advancedSeletChange();" placeholder="Seleect..." multiple>
                  <br-select-header>
                    <input type="search" ng-model="vm.selectFilter" placeholder="Search..." />
                  </br-select-header>

                  <br-option-group label="Main">
                    <br-option ng-value="item" ng-repeat="item in vm.listList | filter:vm.selectFilter">{{item.name}}</br-option>
                  </br-option-group>

                  <br-button class="br-primary" ng-click="vm.selectButtonTest();">Create New</br-button>
                </br-select-menu>
              </br-select>
            </div>

            <div layout="row">
              <br-input flex>
                <label>Venue City</label>
                <input name="city" ng-model="vm.venue.city" required/>
                <div ng-messages="venform.city.$error">
                  <div ng-message="requried">Required</div>
                </div>
              </br-input>

              <br-input flex>
                <label>Venue State</label>
                <input name="state" ng-model="vm.venue.state" required/>
                <div ng-messages="venform.state.$error">
                  <div ng-message="requried">Required</div>
                </div>
              </br-input>
            </div>


            <div layout="row">
              <br-input flex>
                <label>Venue Phone</label>
                <input name="phone" ng-model="vm.venue.phone" required/>
                <div ng-messages="venform.phone.$error">
                  <div ng-message="requried">Required</div>
                </div>
              </br-input>

              <br-input flex>
                <label>Venue Email</label>
                <input name="email" ng-model="vm.venue.email" required/>
                <div ng-messages="venform.email.$error">
                  <div ng-message="requried">Required</div>
                </div>
              </br-input>
            </div>

            <br-checkbox ng-model="vm.venue.active">Active</br-checkbox>
          </form>
        </div>

        <div>
          <h5>Locations</h5>
          <br-list>
            <br-item ng-repeat="location in vm.venue.locations" ng-click="vm.openLocation(location)" style="cursor: pointer;">
              <br-item-content>
                <div>{{location.name}}</div>
              </br-item-content>
            </br-item>
          </br-list>
        </div>
      </div>
    </br-content>
    </br-expanded-content>
  </br-expansion-card>

</br-expansion-card-manager>
</br-content>


<style>
  .expand-header {
    font-size: 13px;
    color: #999;
  }

  .expand-title {
    font-size: 18px;
    font-weight: 600;
    color: #666;
    padding-bottom: 6px;
    padding-top: 2px;
  }

  .expand-sub {
    font-size: 14px;
    color: #444;
  }

  .expand-active {
    padding-left: 8px;
    font-weight: 600;
    font-size: 14px;
    color:rgb(129, 224, 127);
  }

  .expand-active.red-text {
    color: rgb(214, 61, 61);
  }
</style>
