br-list.br-THEME_NAME-theme br-item{
  color: '{{font-default}}';
  /*background-color: '{{foreground-light-4}}';*/
}

br-list.br-THEME_NAME-theme:not(.br-no-divider) br-item {
  /*border-color: '{{background-1}}';*/
  border-color: '{{foreground-default}}';
}

br-list.br-THEME_NAME-theme .br-item-title {
  color: '{{font-default}}';
}

br-list.br-THEME_NAME-theme .br-item-sub-title {
  color: '{{font-light-1}}';
}



/* --- default --- */

br-list.br-THEME_NAME-theme br-item.br-selected{
  background-color: '{{foreground-default}}';
}

br-list.br-THEME_NAME-theme:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover{
  color: '{{font-default}}';
  background-color: '{{foreground-light-1}}';
}

br-list.br-THEME_NAME-theme:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-title {
  color: '{{font-light-2}}';
}
br-list.br-THEME_NAME-theme:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-sub-title {
  color: '{{font-light-2}}';
}




/* --- primary --- */

br-list.br-THEME_NAME-theme.br-primary br-item.br-selected{
  background-color: '{{primary-light-2}}';
}
br-list.br-THEME_NAME-theme.br-primary:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover{
  color: '{{primary-light-6}}';
  background-color: '{{primary-light-1}}';
}

br-list.br-THEME_NAME-theme.br-primary:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-title {
  color: '{{primary-light-6}}';
}
br-list.br-THEME_NAME-theme.br-primary:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-sub-title {
  color: '{{primary-light-6}}';
}



/* --- accent ---- */

br-list.br-THEME_NAME-theme.br-accent br-item.br-selected{
  background-color: '{{accent-light-2}}';
}
br-list.br-THEME_NAME-theme.br-accent:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover{
  color: '{{accent-light-6}}';
  background-color: '{{accent-light-1}}';
}

br-list.br-THEME_NAME-theme.br-accent:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-title {
  color: '{{accent-light-6}}';
}
br-list.br-THEME_NAME-theme.br-accent:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-sub-title {
  color: '{{accent-light-6}}';
}



/* --- warn ---- */

br-list.br-THEME_NAME-theme.br-warn br-item.br-selected{
  background-color: '{{warn-light-2}}';
}
br-list.br-THEME_NAME-theme.br-warn:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover{
  color: '{{warn-light-6}}';
  background-color: '{{warn-light-1}}';
}

br-list.br-THEME_NAME-theme.br-warn:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-title {
  color: '{{warn-light-6}}';
}
br-list.br-THEME_NAME-theme.br-warn:not(.br-touch):not(.br-no-hover) br-item:not(.br-no-hover):hover .br-item-sub-title {
  color: '{{warn-light-6}}';
}
