<div ng-controller="AppCtrl" ng-cloak>
  <section layout="row" layout-align="center center" layout-wrap>
    <div class="section-label">Click to see toast</div>

    <br-button class="br-primary br-raised" ng-click="open()">Normal Position</br-button>
    <br-button class="br-primary br-raised" ng-click="openTL()">Top Left</br-button>
    <br-button class="br-primary br-raised" ng-click="openTR()">Top Right</br-button>
    <br-button class="br-warn br-raised" ng-click="openBR()">Bottom Right 4 sec delay</br-button>
  </section>
</div>
