.br-expander {
  display: inline-block;
}

.br-expander-header {
  display: flex;
  height: 48px;
  line-height: 48px;
  padding-right: 16px;
  font-size: 18px;
  border-bottom: 1px solid;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.br-expander.br-no-shadow .br-expander-header {
  box-shadow: none;
}


.br-expander-icon {
  display: block;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: start;
  width: 48px;
  height: 48px;
  transform: rotate(-90deg);
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.br-expander.br-open .br-expander-icon {
  transform: rotate(0deg);
}

.br-expander-icon:after {
  display: block;
  content: '\25BC';
  position: relative;
  top: 2px;
  left: 14px;
  transform: scaleY(.6) scaleX(1);
}



.br-expander-content {
  display: block;
  overflow: hidden;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  opacity: 0;
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
              opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.br-expander.br-open .br-expander-content {
  overflow-y: scroll;
  opacity: 1;
}