nav-menu,
nav-menu-item,
nav-menu-expand {
  display: block;
}

nav-menu {
  padding-top: 40px;
  width: 220px;
  min-height: 100%;
  background: #364051;
  z-index: 299;
  overflow-x: hidden;
}

nav-menu-item {
  border-bottom: 1px solid #495361;
  background: #323a48;
}

br-side-content.br-default-theme {
  background: #323a48 !important;
}

nav-menu-item .br-button {
  width: 100%;
  color: #b3b3b3 !important;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  width: 100%;
  text-align: left;
  border-radius: 0;
  border-left: 4px solid transparent;
  transition: border 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav-menu-item .br-button:not(:hover) {
  background: #364051 !important;
}

nav-menu-item .br-button.nav-link-active {
  border-left: 4px solid #5db34d;
}

nav-menu-item br-icon {
  color: #b3b3b3 !important;
  padding-right: 6px;
}

.nav-expander-header {
  color: #b3b3b3;
  padding-left: 12px;
  background: #364051;
  border-left: 4px solid transparent;
}

.nav-expander-header br-icon {
  margin-right: 9px;
}

nav-menu-item br-expander-content .br-button:not(:hover) {
  background: inherit !important;
}
