select.br-select-standard {
  appearance: none;

  outline: none;
  order: 2;
  display: flex;
  margin-top: 0;
  background: 0 0;
  padding: 0 6px 0;
  border-width: 1px;
  line-height: 26px;
  height: 42px;
  width: initial;
  -ms-flex-preferred-size: 26px;
  border-style: solid;
  border-radius: 3px;
  box-sizing: border-box;
  float: left;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  transition: border cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;


  background:
    linear-gradient(45deg, transparent 50%, #7A7A7A 50%),
    linear-gradient(135deg, #7A7A7A 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 18px) calc(1em + 2px), calc(100% - 12px) calc(1em + 2px), 100% 0;
  background-size: 6px 9px, 6px 9px;
  background-repeat: no-repeat;
}

select.br-select-standard[disabled] {
  cursor: not-allowed;
}

select.br-select-standard + label {
  font-size: 14px;
  font-weight: 700;
  pointer-events: none;
  position: relative;
  top: -2px;
  z-index: 1;
  transition: color cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}




.br-select select::-ms-expand {
  display: none;
}

.br-select select:focus {
  outline: none;
}

.br-select select{
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  color:rgba(0,0,0,0);
  cursor: inherit;
  position: absolute;
  top: 0;
  bottom: 24px;
  left: 0px;
  right: 0px;
}

.br-select select[disabled] {
  cursor: not-allowed;
}


.br-select {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 18px 0 6px;
  vertical-align: middle;
}

.br-select.br-full {
  width: 100%;
}

.br-select .br-select-content {
  order: 2;
  display: flex;
  margin-top: 0;
  background: 0 0;
  padding: 7px 6px 1px;
  border-width: 1px;
  line-height: 26px;
  height: 42px;
  -ms-flex-preferred-size: 26px;
  border-style: solid;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  float: left;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  transition: border cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}

.br-select .br-select-content span {
  flex: 1;
}


.br-select .br-errors-spacer {
  float: right;
  min-height: 24px;
  min-width: 1px;
}



.br-select label {
  font-size: 14px;
  font-weight: 700;

  line-height: initial;
  position: absolute;
  left: 0;
  top: -44px;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-left: 2px;
  z-index: 1;
  transform: translate3d(0, 24px, 0) scale(1);
  transform-origin: left top;
  transition: color cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}


.br-select .br-real-select:focus {
  outline: none;
  box-shadow: none;
}


.br-select.br-select-focused .br-select-content {
  padding-bottom: 0px;
  border-width: 1px 1px 1px 1px;
}






br-select .br-placeholder {
  order: 1;
  line-height: initial;
  position: absolute;
  left: 6px;
  top: -12px;
  order: 1;
  pointer-events: none;
  padding-left: 2px;
  z-index: 1;
  opacity: 1;
  transform: translate3d(0, 24px, 0) scale(1);
  transform-origin: left top;
  transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}

br-select.br-input-focused .br-placeholder {
  opacity: 1;
  transform: translate3d(0, 24px, 0);
}

br-select.br-input-has-value .br-placeholder {
  transition: none;
  opacity: 0;
}


.br-select-icon {
  display: block;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: end;
  width: 24px;
  margin: 0 4px;
}

.br-select-icon:after {
  display: block;
  content: '\25BC';
  position: relative;
  top: 2px;
  speak: none;
  transform: scaleY(.6) scaleX(1);
}
