.br-select.br-THEME_NAME-theme .br-select-content {
  color: transparent;
}

select.br-select-standard.ng-not-empty,
.br-select.br-THEME_NAME-theme.br-select-has-value .br-select-content {
  color: '{{font-default}}';
}

select.br-select-standard,
.br-select.br-THEME_NAME-theme .br-select-content {
  border-color: '{{foreground-dark-4}}';
}

select[disabled].br-select-standard,
.br-select.br-THEME_NAME-theme .br-select-content.br-disabled {
  color: '{{foreground-light-2}}';
  border-color: transparent;
  background-image: linear-gradient(to right, '{{foreground-light-3}}' 0%, '{{foreground-light-3}}' 33%, transparent 0%);
}

.br-select.br-THEME_NAME-theme ::placeholder {
  color: '{{font-light-5}}';
}


.br-select.br-THEME_NAME-theme .br-placeholder {
  color: '{{font-light-4}}';
}

select.br-select-standard + label,
.br-select.br-THEME_NAME-theme label {
  color: '{{font-light-2}}';
}


.br-select.br-THEME_NAME-theme.br-select-has-placeholder .br-select-content {
  color: '{{font-light-3}}';
}

.br-select.br-THEME_NAME-theme.br-select-has-value .br-select-content {
  color: '{{font-default}}';
}

select.br-select-standard.ng-not-empty + label,
.br-select.br-THEME_NAME-theme.br-select-has-value label {
  color: '{{font-light-3}}';
}

.br-select.br-THEME_NAME-theme .br-select-icon {
  color: '{{font-light-3}}';
}

.br-select.br-THEME_NAME-theme .br-select-content.br-disabled .br-select-icon {
  color: '{{font-light-5}}';
}



select.br-select-standard:focus,
.br-select.br-THEME_NAME-theme.br-select-focused .br-select-content {
  border-color: '{{primary-default}}';
}

select.br-select-standard:focus + label,
.br-select.br-THEME_NAME-theme.br-select-focused label {
  color: '{{primary-default}}';
}

.br-select.br-THEME_NAME-theme.br-select-focused.br-accent .br-select-content {
  border-color: '{{accent-light-1}}';
}
.br-select.br-THEME_NAME-theme.br-select-focused.br-accent label {
  color: '{{accent-default}}';
}

.br-select.br-THEME_NAME-theme.br-select-focused.br-warn .br-select-content {
  border-color: '{{warn-light-1}}';
}
.br-select.br-THEME_NAME-theme.br-select-focused.br-warn label {
  color: '{{warn-default}}';
}
