input[type="checkbox"]:not([br-no-style]),
br-checkbox.br-THEME_NAME-theme .br-icon {
  border-color: '{{background-2}}';
}

input[type="checkbox"]:not([br-no-style]).ng-not-empty,
br-checkbox.br-THEME_NAME-theme.br-checked .br-icon {
  background-color: '{{foreground-dark-4}}';
}

input[type="checkbox"]:not([br-no-style]).ng-not-empty:after,
br-checkbox.br-THEME_NAME-theme.br-checked .br-icon:after {
  border-color: '{{background-3}}';
}

input[type="checkbox"]:not([br-no-style]) + label,
br-checkbox.br-THEME_NAME-theme .br-label {
  color: '{{font-default}}';
}




/* --- Primary --- */

input[type="checkbox"]:not([br-no-style]).br-primary,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary .br-icon {
  border-color: '{{primary-light-2}}';
}

input[type="checkbox"]:not([br-no-style]).br-primary.ng-not-empty,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked .br-icon {
  background-color: '{{primary-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked.br-focused .br-container:before {
  background-color: '{{primary-default}}';
}

input[type="checkbox"]:not([br-no-style]).br-primary.ng-not-empty:after,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked .br-icon:after {
  border-color: '{{primary-light-5}}';
}



/* --- Accent --- */

input[type="checkbox"]:not([br-no-style]).br-accent,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent .br-icon {
  border-color: '{{accent-light-2}}';
}

input[type="checkbox"]:not([br-no-style]).br-accent.ng-not-empty,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked .br-icon {
  background-color: '{{accent-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked.br-focused .br-container:before {
  background-color: '{{accent-default}}';
}

input[type="checkbox"]:not([br-no-style]).br-accent.ng-not-empty:after,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked .br-icon:after {
  border-color: '{{accent-light-5}}';
}



/* --- Warn --- */

input[type="checkbox"]:not([br-no-style]).br-warn,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn .br-icon {
  border-color: '{{warn-light-2}}';
}

input[type="checkbox"]:not([br-no-style]).br-warn.ng-not-empty,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked .br-icon {
  background-color: '{{warn-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked.br-focused:not([disabled]) .br-container:before {
  background-color: '{{warn-default}}';
}

input[type="checkbox"]:not([br-no-style]).br-warn.ng-not-empty:after,
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked .br-icon:after {
  border-color: '{{warn-light-5}}';
}




input[type="checkbox"][disabled]:not([br-no-style]),
br-checkbox.br-THEME_NAME-theme[disabled] .br-icon {
  border-color: '{{background-1}}';
}

input[type="checkbox"][disabled]:not([br-no-style]).ng-not-empty,
br-checkbox.br-THEME_NAME-theme[disabled].br-checked .br-icon {
  background-color: '{{background-1}}';
}

input[type="checkbox"][disabled]:not([br-no-style]).ng-not-empty:after,
br-checkbox.br-THEME_NAME-theme[disabled].br-checked .br-icon:after {
  border-color: '{{background-2}}';
}

input[type="checkbox"][disabled]:not([br-no-style]) + label,
br-checkbox.br-THEME_NAME-theme[disabled] .br-label {
  color: '{{font-light-2}}';
}
