/*br-checkbox.br-THEME_NAME-theme .br-ripple {
  color: '{{accent-600}}';
}

br-checkbox.br-THEME_NAME-theme.br-checked .br-ripple {
  color: '{{background-600}}';
}*/

/*br-checkbox.br-THEME_NAME-theme.br-checked.br-focused .br-container:before {
  background-color: '{{accent-color-0.26}}';
}*/

/*br-checkbox.br-THEME_NAME-theme .br-ink-ripple {
  color: '{{foreground-2}}';
}*/

/*br-checkbox.br-THEME_NAME-theme.br-checked .br-ink-ripple {
  color: '{{accent-color-0.87}}';
}*/

br-checkbox.br-THEME_NAME-theme .br-icon {
  border-color: '{{background-2}}';
}

br-checkbox.br-THEME_NAME-theme.br-checked .br-icon {
  background-color: '{{foreground-dark-4}}';
}

br-checkbox.br-THEME_NAME-theme.br-checked .br-icon:after {
  border-color: '{{background-3}}';
}

br-checkbox.br-THEME_NAME-theme .br-label {
  color: '{{font-default}}';
}




/* --- Primary --- */

/*br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary .br-ripple {
  color: '{{primary-600}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked .br-ripple {
  color: '{{background-600}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary .br-ink-ripple {
  color: '{{foreground-2}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked .br-ink-ripple {
  color: '{{primary-color-0.87}}';
}*/

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary .br-icon {
  border-color: '{{primary-light-2}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked .br-icon {
  background-color: '{{primary-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked.br-focused .br-container:before {
  background-color: '{{primary-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-primary.br-checked .br-icon:after {
  border-color: '{{primary-light-5}}';
}


/* --- Secondary --- */

/*br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent .br-ripple {
  color: '{{accent-600}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked .br-ripple {
  color: '{{background-600}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent .br-ink-ripple {
  color: '{{foreground-2}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked .br-ink-ripple {
  color: '{{accent-color-0.87}}';
}*/

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent .br-icon {
  border-color: '{{accent-light-2}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked .br-icon {
  background-color: '{{accent-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked.br-focused .br-container:before {
  background-color: '{{accent-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-accent.br-checked .br-icon:after {
  border-color: '{{accent-light-5}}';
}




/* --- Warn --- */

/*br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn .br-ripple {
  color: '{{warn-600}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn .br-ink-ripple {
  color: '{{foreground-2}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked .br-ink-ripple {
  color: '{{warn-color-0.87}}';
}*/

/* --- Warn --- */
br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn .br-icon {
  border-color: '{{warn-light-2}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked .br-icon {
  background-color: '{{warn-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked.br-focused:not([disabled]) .br-container:before {
  background-color: '{{warn-default}}';
}

br-checkbox.br-THEME_NAME-theme:not([disabled]).br-warn.br-checked .br-icon:after {
  border-color: '{{warn-light-5}}';
}




br-checkbox.br-THEME_NAME-theme[disabled] .br-icon {
  border-color: '{{background-1}}';
}

br-checkbox.br-THEME_NAME-theme[disabled].br-checked .br-icon {
  background-color: '{{background-1}}';
}

br-checkbox.br-THEME_NAME-theme[disabled].br-checked .br-icon:after {
  border-color: '{{background-2}}';
}

br-checkbox.br-THEME_NAME-theme[disabled] .br-label {
  color: '{{font-light-2}}';
}
