<div ng-controller="AppCtrl" ng-cloak>
  <section>
    <div class="section-label">Sticky</div>

    <br-content style="height: 320px;" br-scroll-y>
      <br-subheader>Section 1</br-subheader>
      <div style="background: #FFF;">
        <h5>Put some content below the subheader.</h5>
        <p>
          One time when i went on the internet i fount a cat.
        </p>
        <p>
          Another time i bought a hat.
        </p>
      </div>


      <br-subheader>Section 2</br-subheader>
      <div layout="column" style="background: #FFF;">
        <br-input>
          <label>Whats you name?</label>
          <input ng-model="one" />
        </br-input>

        <br-input>
          <label>What do you do on the internet?</label>
          <input ng-model="two" />
        </br-input>

        <br-input>
          <label>Im bored</label>
          <input ng-model="two" />
        </br-input>
      </div>

      <br-subheader>Section 42</br-subheader>
      <div style="background: #FFF;">
        <p>
          The Babel Fish is a small, leech-like, yellow fish, and by putting this into one's ear one can instantly understand anything said in any language; this is how Arthur Dent is able to comprehend the other beings he encounters on his travels. The Babel fish has led to significant and profound consequences for the Universe; apart from the philosophical implications, the Babel fish has started more and bloodier wars than anything else in the history of creation, because it has removed all barriers to communication.
        </p>
      </div>
    </br-content>
  </section>
</div>
